@model Dto.Clima.PronosticoDto

@{
    ViewBag.Title = "Eliminar";
}


<h3>Está seguro que lo desea eliminar?</h3>
<div>
    <h4>CLIMA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayName("Departamento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.Departamento.nombre)
        </dd>
        <dt>
            @Html.DisplayName("Municipio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Fecha")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
